<%- include("./layouts/header") %>

<h1><span class="goback" onclick="window.history.back()">←</span> Profile</h1>
<div class="profile">
  <div>
    <p class="title">ID</p>
    <p class="subtitle"><%= person.id %></p>
  </div>
  <div>
    <p class="title">Email/Username</p>
    <p class="subtitle"><%= person.email %></p>
  </div>
  <div>
    <p class="title">Role</p>
    <p class="subtitle"><%= person.role %></p>
  </div>
  <div>
    <p class="title">User Object</p>
    <p class="subtitle">
      <code>{</code>
      <div class="code">
        <code>
          <span>_id:</span> new<span style="color: red;"> ObjectId(</span>"<%= person.id %>"<span style="color: red;">)</span>,</code>
        <code><span>email:</span> '<%= person.email %>',</code>
        <code>
          <span>password:</span> '<%= person.password %>',</code>
        <code>
          <span>role:</span> '<%= person.role %>',</code>
        <code class="num">
          <span>__v:</span> <%= person.__v %></code>
      </div>
      <code>}</code>
      <!-- <%= person%> -->
    </p>
  </div>
</div>

<%- include("./layouts/footer") %>
